@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@1&family=Lato:wght@300;400;700;900&display=swap");

/* dark and light theme */
:root {
  --primary-color: #ea8a81;
  --secondary-color: #c29591;
  --tertiary-color: #fee36e;
  --text-color: #000;
  --bg-color: #ccc;
  --card-color: #36454f;
  --sun-or-moon: #fee36e;
}

[data-theme="dark"] {
  --primary-color: #f4d8ae;
  --secondary-color: #703f37;
  --tertiary-color: #ff4800;
  --text-color: #fff;
  --bg-color: #121212;
  --card-color: #f5f5dc;
  --sun-or-moon: #293241;
}

/* default css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: var(--bg-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.19' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0 3rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* navbar */
.navbar {
  width: 60%;
  height: 7rem;
  color: var(--text-color);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 2rem;
  font-family: "Arapey", serif;
  cursor: pointer;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  font-size: 1.8rem;
}

.navbar__item {
  position: relative;
}

.navbar__item::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--tertiary-color);
  opacity: 0;
  transition: all 0.3s;
}

.navbar__item:hover::before {
  opacity: 1;
}

/* header-main */

.header__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

.header__content-box {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__image {
  width: 70%;
}

.header__title {
  font-family: "Arapey", serif;
  font-size: 5rem;
  text-align: center;
}

.header__desc {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* about */

.about {
  margin-top: 10rem;
  padding-bottom: 3rem;
  color: var(--text-color);
}

.about__title {
  text-align: center;
  font-size: 2.5rem;
}

.about__desc {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: justify;
}

.about__image {
  width: 70%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  outline-offset: 0.5rem;
  transition: all 0.3s;
  margin-left: 4rem;
}

.about__image:hover {
  outline: 0.8rem solid var(--text-color);
  transform: scale(1.1);
}

/* services */

.services {
  margin-top: 15rem;
  padding-bottom: 3rem;
}

/* card flexbox */
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: var(--card-color);
  max-width: 30rem;
  padding: 2rem;
  color: var(--bg-color);
  border-radius: 5px;
}

.card > *:not(:last-child) {
  margin-bottom: 2rem;
}

.card__photo {
  width: 10rem;
  height: 10rem;
  display: block;
  margin: 0 auto;
}

.card__title {
  font-size: 2rem;
  font-weight: 900;
}

.card__desc {
  font-size: 1.4rem;
  text-align: center;
}

/* contact */

.contact {
  margin-top: 15rem;
  padding-bottom: 3rem;
}

.contact__container {
  display: flex;
  max-width: 114rem;
  margin: 0 auto;
}

/* contact left */
.contact__left {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
}

.contact-info__icon {
  grid-row: 1 / span 2;
  font-size: 3rem;
  color: var(--secondary-color);
  transform: translateY(-2rem);
}

.contact-info__title {
  font-size: 2rem;
  color: var(--text-color);
}

.contact-info__desc {
  font-size: 1.4rem;
  color: var(--primary-color);
}

/* contact right form */
.contact__right {
  flex: 1;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 2rem 0;
  color: var(--text-color);
}

.form__box {
  position: relative;
}

.form__input {
  width: 100%;
  border: 1px solid var(--text-color);
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.form__label {
  position: absolute;
  top: -2rem;
  left: 0;
}

/* float-grid */

.grid {
  max-width: 114rem;
  margin: 0 auto;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
}

[class^="col-"]:not(:last-child) {
  margin-right: 2rem;
}

.col-1-of-2 {
  width: calc((100% - 2rem) / 2);
}

/* typhography */

.heading {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}

.heading:hover {
  transform: skewY(-2deg) skewX(-15deg) scale(1.1);
}

/* buttons */

.btn {
  display: block;
  margin: 0 auto;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  background-color: var(--tertiary-color);
  color: var(--text-color);
  border-radius: 5px;
  transition: all 0.3s;
}

.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10em 6em -1.2em inset,
    rgba(0, 0, 0, 0.3) 0px 1.8em 3.6em -1.8em inset;
}

/* custom toggle */
.theme-toggle {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 1rem;
  top: 4rem;
  color: var(--text-color);
}

.theme-toggle__icon {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--sun-or-moon);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #fff;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #000;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

/* 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  .header {
    min-height: 50vh;
  }

  .header__container {
    top: 70%;
    left: 40%;
  }

  .header__image {
    width: 100%;
  }

  .about {
    padding-top: 8rem;
  }

  .grid {
    max-width: 50rem;
  }

  [class^="col-"] {
    width: 100% !important;
  }

  [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .theme {
    flex-direction: column-reverse;
  }
}

/* 690px */
@media only screen and (max-width: 43.125em) {
  .navbar {
    width: 100%;
    justify-content: flex-start;
  }

  .navbar__logo {
    display: none;
  }

  .header__title {
    font-size: 3rem;
    text-align: center;
  }

  .header__desc {
    font-size: 1.4rem;
  }

  .theme {
    flex-direction: row;
  }
}

/* 490px */

@media only screen and (max-width: 30.625em) {
  html {
    font-size: 45%;
  }

  .header__container {
    left: 30%;
  }

  .header__image {
    width: 70%;
  }

  .contact__container {
    flex-direction: column;
    gap: 3rem;
  }

  .contact__left {
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
